<h1>Admin profile</h1>
<ul>
    <li>homepage</li>
    <li>profile</li>
    <li><a href="{% url 'classes' %}">classes</a></li>
    <li><a href="{% url 'admin_showTeachers' %}">teachers</a></li>
    <li>Assessments</li>
    <li>history</li>
</ul>

<hr>
<h1>Teachers</h1>
<a href = " {% url 'registerTeacher'  %}">Teacher</a>
<table>
    <tr>
        <th>name</th>
        <th>phone</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {%  for teacher in teachers %}
       <tr>
           <td> {{teacher.user.username}} </td>
           <td> {{teacher.phone}} </td>
           
       </tr>
    {% endfor %}
        
</table>