
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: Times-Roman;
      }
      .Header-Part{
        font-size: 18px;
        align-self: center;
        text-align: center;
        
      }
      h2,h3,h4,p{
        margin: none;
        padding: none;
      }
      .Header-Part p{
        font-size: 12px;
      }
      .bold{
        font-weight: bold;
      }
      .italic{
        font-style: italic;
      }
      .underline{
        text-decoration: underline;
      }
      .horzgap{
        width: 100%;
        width: 35px;
        
      }
      .Midsection{
        
      }
      .alignLeft{
        text-align: left;
      }
      .alignright{
        text-align: right;
      }
      .aligncentre{
        text-align: center;
      }
      .table{
        margin-top: 25px;
        border: 1px solid black;
        font-size: 15px;
        
      }
      .table th{
        padding: 10%;
      }
      .table td{
        padding: 10%;
      }
      .Toptable{
        font-size: 15px;
      }
    </style>
    <script type="text/javascript">
      alert('Hello')
    </script>
  </head>
  <body>
      <div class="Header-Part">
        <h2>Tribhuvan University</h2>
        <h4>Institute of Engineering</h4>
        <h3>Pulchowk Campus</h3>
        <p class="bold">Bachelor's Degree in : <span class="italic underline">BCT</span></p>
      </div>
      <table class="Toptable">
        <td style="text-align:left;">
          <p>Full Marks:<span class="bold italic underline">25</span></p>
          <p> Pass Marks:<span class="bold italic underline">25</span></p>
        </td>
        <td style="text-align:center;">
          <p class="bold">Group : <span class="italic underline">A</span></p>
          <p class="bold">
            Year : <span class="italic underline">I</span> &nbsp;
            Part : <span class="italic underline">I</span> &nbsp;
            Batch : <span class="italic underline">2075</span>
          </p>
          <p class="bold">Subject : <span class="italic underline">Software Engineering</span></p>
        </td>
        <td style="text-align:right;">
            <p> Th/Pr : <span class="italic underline">practical</span></p>
        </td>
      </table>

      </div>
      <table class="table">
        <thead>
          <tr>
            <th style="width: 5%;">S.No</th>
            <th style="width: 15%;">CRN</th>
            <th style="width: 45%;">Name</th>
            <th style="width: 15%;">Marks</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td>1</td>
              <td>2075BCT001</td>
              <td>AADITYA MANI SUBEDI</td>
              <td>10</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>2</td>
              <td>2075BCT002</td>
              <td>AAGAT POKHREL</td>
              <td>1</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>3</td>
              <td>2075BCT003</td>
              <td>AARCHAN BASNET</td>
              <td>2</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>4</td>
              <td>2075BCT004</td>
              <td>AAYUSH LAMICHHANE</td>
              <td>3</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>5</td>
              <td>2075BCT005</td>
              <td>AAYUSH LAMICHHANE</td>
              <td>5</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>6</td>
              <td>2075BCT006</td>
              <td>AAYUSH NEUPANE</td>
              <td>6</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>7</td>
              <td>2075BCT007</td>
              <td>AAYUSH SHAH  KANU</td>
              <td>7</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>8</td>
              <td>2075BCT008</td>
              <td>ABISH BHUSAL</td>
              <td>8</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>9</td>
              <td>2075BCT009</td>
              <td>ADITHYA POKHAREL</td>
              <td>9</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>10</td>
              <td>2075BCT010</td>
              <td>AKASH PANTHI</td>
              <td>10</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>11</td>
              <td>2075BCT011</td>
              <td>AMRIT ARYAL</td>
              <td>9</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>12</td>
              <td>2075BCT012</td>
              <td>ANISH AGARWAL</td>
              <td>7</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>13</td>
              <td>2075BCT013</td>
              <td>ANKIT PAUDEL</td>
              <td>8</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>14</td>
              <td>2075BCT014</td>
              <td>ARPAN GYAWALI</td>
              <td>6</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>15</td>
              <td>2075BCT015</td>
              <td>ARPAN POKHAREL</td>
              <td>5</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>16</td>
              <td>2075BCT016</td>
              <td>ASHISH LAMSAL</td>
              <td>8</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>17</td>
              <td>2075BCT018</td>
              <td>BIDHAN KHATIWADA</td>
              <td>9</td>
              <td> </td>
             
            </tr>
          
            <tr>
              <td>18</td>
              <td>2075BCT019</td>
              <td>BIGYAN KOIRALA</td>
              <td>0</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>19</td>
              <td>2075BCT020</td>
              <td>BIJAY SHRESTHA</td>
              <td>0</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>20</td>
              <td>2075BCT021</td>
              <td>BINAY BASNET</td>
              <td>2</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>21</td>
              <td>2075BCT022</td>
              <td>BIPIN KHANAL</td>
              <td>4</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>22</td>
              <td>2075BCT023</td>
              <td>BIPIN PURI</td>
              <td>5</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>23</td>
              <td>2075BCT024</td>
              <td>BIRAJ BIKRAM PATHAK</td>
              <td>6</td>
              <td>Not Qualified</td>
             
            </tr>
          
            <tr>
              <td>24</td>
              <td>2075BCT099</td>
              <td>SAUGAT KAFLE</td>
              <td>7</td>
              <td>Not Qualified</td>
             
            </tr>
           
        </tbody>
      </table>
      <h1>Submitted by : <span class="underline">Ram</span></h1>
      <h1>Signature:</h1>
  </body>
</html>
