<!DOCTYPE html>
{% load static %}
<html> 
<head>
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
   
    <body>
        <p class="font-mono text-9xl">
            {{text}}
        </p>
        <form>
            <table>
                <tr>
                    <th>roll no.</th>
                    <th>Name</th>
                    <th>Marks</th>
                </tr>
                {% for student in students %}
                    {% if student.Dept == "BCT" and student.Batch == "075" %}
                        <tr>
                             <td>{{student.Roll}}</td>
                             <td>{{student.Name}}</td>
                             <td><input type="text"></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </form>
    </body>
</html>
