
<!DOCTYPE html>
    
<!-- <h1>
        Class form
    </h1>

    <form method = "POST">

        
        
        <input type = "submit">
    </form> -->
    {% csrf_token %}
    {%load static%}
 <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/admin_classes_forms.css' %}" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <article class="flex flex-row">
      <section
        class="relative flex flex-col justify-between w-1/6 h-screen bg-gradient-to-b from-green-300 to-green-600"
      >
        <!-- centralize profile icon -->
        <div class="flex items-center justify-center">
          <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-24 h-24 mt-9"
            style="enable-background: new"
            viewbox="0 0 45.532 45.532"
            xml:space="preserve"
          >
            <path
              d="M22.766.001C10.194.001 0 10.193 0 22.766s10.193 22.765 22.766 22.765c12.574 0 22.766-10.192 22.766-22.765S35.34.001 22.766.001zm0 6.807a7.53 7.53 0 1 1 .001 15.06 7.53 7.53 0 0 1-.001-15.06zm-.005 32.771a16.708 16.708 0 0 1-10.88-4.012 3.209 3.209 0 0 1-1.126-2.439c0-4.217 3.413-7.592 7.631-7.592h8.762c4.219 0 7.619 3.375 7.619 7.592a3.2 3.2 0 0 1-1.125 2.438 16.702 16.702 0 0 1-10.881 4.013z"
            />
          </svg> -->
          <div class="w-32 h-32 mt-9">
            <img
              class="inset-0 object-cover object-center w-full h-full rounded-full"
              src="../img/dsb.jpg"
              alt=""
            />
          </div>
        </div>
        <section
          class="flex flex-col items-center justify-between mb-[6.5rem] h-60"
        >
          <a href="#">Dashboard</a>
          <a href="#" class="">Classes</a>
          <a href="#">Teachers</a>
          <a href="#">Assignments</a>
        </section>
        <section class="mx-auto mb-11">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            />
          </svg>
          Logout
        </section>
      </section>
      
      <section class="flex-grow h-screen overflow-auto px-[3.5rem]">
        <div class="mt-10 sm:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="mt-5 md:mt-0 md:col-span-2">
              <form action="{url 'admin_homepage'}" method="POST">
                  {%csrf_token%}
                <div class="mt-40 overflow-hidden shadow sm:rounded-md">
                  <div class="px-4 py-5 bg-white sm:p-6">
                    <div class="grid grid-cols-6 gap-6">
                      <div class="col-span-6 sm:col-span-4">
                        <label
                          for="subject_name"
                          class="block text-sm font-medium text-gray-700"
                          >Subject name</label
                        >
                        <input
                          type="text"
                          name="subject_name"
                          id="subject_name"
                          class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                      </div>
                      <div class="col-span-6 sm:col-span-3">
                        <label
                          for="dept"
                          class="block text-sm font-medium text-gray-700"
                          >Department</label
                        >
                            {{form.dept}}
                      </div>
                      <div class="col-span-1 sm:col-span-3">
                        <label
                          for="Year"
                          class="block text-sm font-medium text-gray-700"
                          >Year</label
                        >
                        <select
                          name="Year"
                          id="Year"
                          autocomplete="Year"
                          class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                      </select>
                      </div>

                      <div class="col-span-3 sm:col-span-3">
                        <label
                          for="part"
                          class="block text-sm font-medium text-gray-700"
                          >Part</label
                        >
                        <select
                          type="text"
                          name="part"
                          id="part"
                          class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                        <option value="I">I</option>
                        <option value="II">II</option>
                      </select>
                      </div>

                      <div class="col-span-3 sm:col-span-3">
                        <label
                          for="group"
                          class="block text-sm font-medium text-gray-700"
                          >group</label
                        >
                        <select
                          type="group"
                          name="group"
                          id="group"
                          class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                      </select>
                      </div>
                      <div class="col-span-6 sm:col-span-4">
                        <label
                          for="Batch"
                          class="block text-sm font-medium text-gray-700"
                          >Batch</label
                        >
                        <input
                          type="text"
                          name="batch"
                          id="batch"
                          class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                      </div>

                      <div class="col-span-6">
                        <label
                          for="teaher"
                          class="block text-sm font-medium text-gray-700"
                          >Teacher</label
                        >
                        {{form.teacher}}
                      </div>

                      <!-- <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                        <label
                          for="city"
                          class="block text-sm font-medium text-gray-700"
                          >City</label
                        >
                        <input
                          type="text"
                          name="city"
                          id="city"
                          class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                      </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                        <label
                          for="state"
                          class="block text-sm font-medium text-gray-700"
                          >State / Province</label
                        >
                        <input
                          type="text"
                          name="state"
                          id="state"
                          class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                      </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                        <label
                          for="postal_code"
                          class="block text-sm font-medium text-gray-700"
                          >ZIP / Postal</label
                        >
                        <input
                          type="text"
                          name="postal_code"
                          id="postal_code"
                          autocomplete="postal-code"
                          class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                      </div> -->
                    </div>
                  </div>
                  <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
                    <button
                      type="submit"
                      class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </article>
  </body>
</html>
