<!DOCTYPE html>
<h1>hello</h1>
{{marks.getClass.batch}}
<table>
    <tr>
        <th>
            Roll No.
        </th>
        <th>
            Name
        </th>
        <th>
            Marks
        </th>
    </tr>
    {% for student in students %}
    {% if student.Batch == marks.getClass.batch and student.Dept == marks.getClass.dept %}
    {% if student.Section == marks.getClass.group%}
    <tr>
        <td>
            {{student.Batch}}{{student.Dept}}{{student.Roll}}
        </td>
        <td>
            {{student.Name}}
        </td>
        <td>
            {{marks.SubmittedMarks1}}
        </td>
    </tr>
    {%endif%}
    {%endif%}
    {% endfor %}
</table>
