<!DOCTYPE html>
<h1>
    assessment marks
</h1>
{{marksheet.getClass.batch}}
{{marksheet.getClass.dept}}
{{marksheet.getClass.group}}



<form method="POST" action="{% url 'teacherClasses'%}">
 {%csrf_token%}
    <table>
        <tr>
            <th>
                Roll No.
            </th>
            <th>
                Name
            </th>
            <th>
                Marks
            </th>
        </tr>
        {% for student in students %}
        {% if student.Batch == marksheet.getClass.batch and student.Dept == marksheet.getClass.dept %}
        {% if student.Section == marksheet.getClass.group%}
        <tr>
            <td>
                {{student.Roll}}
            </td>
            <td>
                {{student.Name}}
            </td>
            <td>
                
            </td>
        </tr>
        {%endif%}
        {%endif%}
        {% endfor %}
    </table>
    {{form.as_p}}
    <input type="submit" value="submit">
</form>